<form [formGroup]="form" (ngSubmit)="login()">
    <div *ngIf="form.errors" class="alert alert-danger">
        The username or password is invalid.
    </div>
    <div formGroupName="account">
        <div class="form-group">
            <label for="username">Username</label>
            <input 
                formControlName="username"
                id="username" 
                type="text" 
                class="form-control">
                <div *ngIf="username.pending">Checking for uniqueness...</div>
                <div 
                    class="alert alert-danger" 
                    *ngIf="username.touched && username.invalid">
                    <div *ngIf="username.errors.required">UserName is required</div>
                    <div *ngIf="username.errors.minlength">UserName must be minimum {{ username.errors.minlength.requiredLength }} characters</div>
                    <div *ngIf="username.errors.cannotContainSpace">Username cannot contain space</div>
                    <div *ngIf="username.errors.shouldBeUnique">Username already exists</div>
                </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                formControlName="password"
                id="password" 
                type="text" 
                class="form-control">
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>