
<!-- <h2>{{ post.title }}</h2> -->

<!-- <app-courses></app-courses> -->
<!-- <app-authors></app-authors> -->

<!-- <favorite [isFavorite] = "post.isFavorite"></favorite> -->

<!--  Encapsulates the content using ng-content and the select directives -->
<!-- <bootstrap-panel>
    <ng-container class="heading">
        Heading
    </ng-container>
    <div class="body">
        Body
    </div>
</bootstrap-panel>  -->

<!-- 
    Gives only one element from ng-template according to the selection
    made from declared variables satisfying conditions 
-->
<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
    <ul *ngFor="let course of courses">
        <li>{{ course }}</li>
    </ul>
</ng-template>

<ng-template #noCourses>
        No courses yet
</ng-template> -->


<!-- Gives both element but one is hidden -->
<!-- <div [hidden] = "courses.length === 0">
  List of courses
    <ul *ngFor="let course of courses">
        <li>{{ course }}</li>
    </ul>  
</div>
<div [hidden] = "courses.length > 0">
    No courses yet...
</div> -->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="viewMode == 'map'">
          <a class="nav-link" (click)="viewMode = 'map'">Map View</a>
        </li>
        <li class="nav-item" [class.active]="viewMode == 'list'">
          <a class="nav-link" (click)="viewMode = 'list'">List View</a>
        </li>
      </ul>
    </div>
</nav>

<div [ngSwitch] = "viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- *ngFor has lots of local variables like even odd first last -->
<!-- Leading asterisk encapsulates the given div in the ng-template element -->
<!-- <button class="btn btn-primary" (click)="onLoad()">Load</button>
<button class="btn btn-primary" (click) = "onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses; index as i ">
        {{ i }} - {{ course.name}}
        <button (click) = "onRemove(course)">Remove</button>
    </li>
</ul> -->

<!-- 
    trackBy helps us to update the group instead of changing the whole page 
    but it needs some property to map the change 
    by default angular tracks object by location in the memory 
-->
<!--
<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse ">
        {{ course.name}}
        <button (click) = "onRemove(course)">Remove</button>
    </li>
</ul> -->

<!-- 
    [ngClass] is used to group multiple class together and 
    doesnot have to repeat class binding
    for example:
    <span   
        class="glyphicon"
        [class.glyphicon-star]="isSelected"
        [class.glyphicon-star-empty]="!isSelected"
        ></span>

        can be written as

        <!-- <span   
        class="glyphicon"
        [class.glyphicon-star]="isSelected"
        [class.glyphicon-star-empty]="!isSelected"
        [ngClass]="{
            'glyphicon-star':isSelected,
            'glyphicon-star-empty':!isSelected
        }"
        ></span> -->


<!-- 
    If any property in a object may be null we can use ? to use 
    safe traversal.
    For example:
     task.assignee?.name
     Here assignee can be null, so we used ? to prevent causing it trouble
-->

<!-- <input type="text" [appInputFormat]= "'uppercase'"> -->

<!-- <app-contact-form></app-contact-form> -->
<!-- <app-new-course-form></app-new-course-form> -->
<!-- <app-posts></app-posts> -->

<navbar></navbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
