
<!-- <h2>{{ post.title }}</h2> -->

<!-- <app-courses></app-courses> -->
<!-- <app-authors></app-authors> -->

<!-- <favorite [isFavorite] = "post.isFavorite"></favorite> -->

<!-- <bootstrap-panel>
    <ng-container class="heading">
        Heading
    </ng-container>
    <div class="body">
        Body
    </div>
</bootstrap-panel> -->

<!-- Gives only one element satisfying conditions -->
<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
    <ul *ngFor="let course of courses">
        <li>{{ course }}</li>
    </ul>
</ng-template>

<ng-template #noCourses>
        No courses yet
</ng-template> -->


<!-- Gives both element but one is hidden -->
<!-- <div [hidden] = "courses.length === 0">
  List of courses
    <ul *ngFor="let course of courses">
        <li>{{ course }}</li>
    </ul>  
</div>
<div [hidden] = "courses.length > 0">
    No courses yet...
</div> -->

<!-- <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch] = "viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->
<!-- <button (click)="onLoad()">Load</button>
<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse ">
        {{ course.name}}
        <button (click) = "onRemove(course)">Remove</button>
    </li>
</ul> -->

<!-- <input type="text" [appInputFormat]= "'uppercase'"> -->

<!-- <app-contact-form></app-contact-form> -->
<app-new-course-form></app-new-course-form>