<div *ngFor="let follower of followers" class="media border p-3">
    <div class="media-left">
      <a href="#">
        <img class="avatar mr-3 mt-3 rounded-circle" style="width:60px;" src="{{ follower.avatar_url }}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a [routerLink]="['/followers', follower.id, follower.login]">{{ follower.login }}</a>
      </h4>
      <a href="follower.html_url">{{ follower.html_url }}</a>
    </div>
  </div>